--extra-index-url https://download.pytorch.org/whl/cu118
torch 

--extra-index-url https://download.pytorch.org/whl/cu118
torchvision

--extra-index-url https://download.pytorch.org/whl/cu118
torchaudio

pandas
scipy

matplotlib
ipywidgets
tqdm

pennylane

openfermion
openfermionpyscf
openfermionpsi4

cupy-cuda11x


